body {
	background-color: #FEFCF3;
}

a {
	color: #DBA39A;
}

h1 {
	background-color: #F5EBE0;
	border-color: #DBA39A; 
	border-width: 5px;
	border-style: solid;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 0px 10px;
}

h3 {
	background-color: #F5EBE0;
}